body {
    font-family: "Gill Sans MT", sans-serif;

    /* Background image */
    background: url("/img/background.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

#title div{
  text-align: center;
  font-size: 300%;
}

#content
{
  align-content: center;
}

.grid-container {
  display: grid;
  align-content: center;
  grid-template-columns: 50%;
  row-gap: 10px;
  background-color: transparent;
  padding: 10px;

  clear: both
  
}

.grid-container > div {
  background-color: rgba(0, 0, 0, 0.596);
  color: #ffffff;
  border-radius: 20px;
  text-align: center;
  font-size: 30px;
}

.grid-subcontainer {
  display: grid;
  grid-template-columns: 80px auto;
  row-gap: 10px;
  background-color: transparent;
  padding: 10px;
}

.grid-subcontainer > div {
  background-color: transparent;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}
#content
{
  margin-left: auto;
  margin-right: auto;
}
