body {
    font-family: 'Lato', sans-serif;
    /* Background image */
    background: url("https://source.unsplash.com/1920x1080/?nature") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

#title div {
    text-align: center;
    font-size: 300%;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.897);
}

.grid-container {
    display: grid;
    align-content: center;
    grid-template-columns: 100%;
    row-gap: 10px;
    background-color: transparent;
    margin: 0 auto;
    width: 50%;
    max-width: 500px;
}

.grid-container>a:hover {
    margin-left: 10%;
    margin-right: -10%;
}

@media screen and (max-width: 799px) {
    .grid-container {
        width: 100%;
    }
    .grid-container>a:hover {
        margin-left: 0;
        margin-right: 0;
    }
}

.grid-container>a {
    background-color: rgba(0, 0, 0, 0.596);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.596);
    color: #ffffff;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
}

.grid-subcontainer {
    display: grid;
    grid-template-columns: 80px auto;
    row-gap: 10px;
    background-color: transparent;
    padding: 10px;
}

.grid-subcontainer>div {
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
    line-height: 60px;
}

.grid-subcontainer>img {
    height: 60px;
}

.line {
    width: 30%;
    height: 1px;
    float: left;
    background-color: rgba(0, 0, 0, 0.36);
}